:root{
    --Basic-background: #F1F5F7;
    --white: #FFFFFF;
    --black: #000000;

    --main-header: 000000 0,01 %;
    --navigation-focus: #293449;
    --navigation: #32425C;
    --navigation-click: #1D2739;
    --navigation-box-shadow: inset 0px -5px 0px #293449;
    --text-navigation-click: #FFFFFF; /* opacity: 0.5(прозрачность)*/

    --button-header-click: #161D29;
    --checkout: #63A63E;      /*--checkout-click: #63A63E; */
    --checkout-focus: #5FBB2D;
    --checkout-text-click: rgba(255, 255, 255, 0.5);

    --background-color-header: rgba(0, 0, 0, 0.0001);
    --red: #EE3643;         /*красный*/
    --red-click: #BA2732;
    --text-navigation-click: rgba(255, 255, 255, 0.5);
    --red-box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    --red-button-focus: #CA2C37;

    --phone: #F3F7F9;
    --adress-text: #32425C;

    --exit-picture: #C5C5C5; /*и текст тоже*/
    --exit-picture-focus: #3D546F;

    --slider-item-slid1: #FFBF47;
    --slider-item-slid2: #3BBCE3;
    --slider-item-slid3: #DC91D8;
    --slider-item-slid4: #8ED78F;
    --slider-item-slid5: #FFC047;
    --slider-item-slid-button: rgba(255, 255, 255, 0.3); /* opacity: 0.3(прозрачность)*/
    --slider-item-slid-button-focus: rgba(197, 197, 197, 0.3); /* opacity: 0.3(прозрачность)*/
    --slider-item-slid-button-click: rgba(169, 169, 169, 0.3); /* opacity: 0.3(прозрачность)*/
    --slider-picture-head: rgba(0, 0, 0, 0.25);

    --popular-head-background: #F9F5F0;
    --popular-head-text: #32425C;
    --popular-producer-item-border: 1px solid #EAEAEA;
    --popular-producer-item-shadow: ;                                    /*как определить тень не ясно*/

    --products-item-price-text-cross: #A9A9A9;

    --services-item-shadow:  0px 1px 0px #FFFFFF;
    --services-item-button-buy: #518534;
    --services-item-button-buy-shadow: inset 0px -3px 0px #367315;
    --product-marker-text: #32425C; /*повторяет popular-head-text*/
    --product-marker-border: 3px solid #63A63E;
    --product-marker-border-focus: 3px solid #32425C;
    --product-marker-border-click:  3px solid #32425C;
        /*как определить тень не ясно*/

    --popular-producer-item: 1px solid #EAEAEA; /*повторяет popular-producer-item-border*/

    --filter-background: #F7F3EC;

    --page-product-list-border: 1px solid #E5E5E5;
    --page-product-list-border-focus: 1px solid #C5C5C5;
    --page-product-list-border-click: 1px solid #EE3643; /*красная рамка*/

    --checkbox: #C5C5C5;
    --checkbox-focus: #B5B5B5;
    --checkbox-click: #B5B5B5; /*меняет прозрачность. наверное*/

    --services-item: #32425C;
    --box-shadow-services: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
    --services-item-focus: #293449; /*повторяет navigation-focus*/
    --box-shadow-services-click: 0px 1px 0px #FFFFFF;

    --footer-background: #32425C;
    --footer-text-color-nav: #F1F5F7; /*почти белый. При клике opacity: 0.5*/

    --footer-text-color-pagination: #FFD180; /*желтый. При клике opacity: 0.5*/
    --social-item: linear-gradient(0deg, #212A3A, #212A3A);
    --heading-catalog: #F2F6F8;
}



/*общее*/

body {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--white);
}

.page {
 height: 100%;
 width: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* align-content: start;*/  /*зачем не понял*/
}

img {
    max-width: 100%;
    height: auto;
  }

 a {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: inherit;
    }

.conteiner {
grid-column: 2/3;

}

.wrapper {

}

.logotype {
  width: 220px;
  background-color: var(--red);
  display: block;
  padding-top: 12px;
  padding-bottom: 15px;
}

.logotype-footer {
  padding-top: 20px;
  padding-bottom: 25px;
  grid-row: 1/2;
}

.logotype:active {
  background-color: var(--red-click);
}

.list-reset {
  padding: 0px;
  margin: 0px;
  list-style: none;
    }

.heading-catalog {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  /*background-color: var(--heading-catalog);*/
}

/*header*/

.main-header {
  background-color: var(--Basic-background); /*background-color-header*/
  color: var(--white);
  grid-row: 1/2;
  display: grid;
  /*grid-template-rows: auto 1fr auto;*/
  grid-template-columns: 130px auto 130px;
}

.site-help {
  background-color: var(--navigation-focus);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--white);
  width: 100%;
  grid-column: 1/-1;

  display: grid;
  grid-template-columns: 130px 1fr 130px;


  }

.site-help li {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--navigation-focus);
}



.site-help li:hover,
.site-help li:active {
  background-color: var(--button-header-click);
  color: var(--white);
  opacity: 0.5;
}

.site-help h2 {
  display: none;

}

.button-header {
  Width: 150px;
  Height: 42px;
}

.basket::before {
  display:block;
  width:20px;
  height:20px;                                                 /*убрать размножение*/
  content: "";
  background-image: url("../img/icon-cart.svg");
}

.markbook:active {
  background-color: var(--button-header-click);
  color: var(--checkout-text-click);
}

.markbook::before {
  display:block;
  width:20px;
  height:20px;                                                 /*убрать размножение*/
  content: "";
  background-image: url("../img/icon-bookmark.svg");
}

.button-more {
  color: var(--white);
  background-color: var(--red);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.checkout {
  background-color: var(--checkout);
  color: var(--white);
  }

  .checkout:hover{
  background-color: var(--checkout-focus);
    }

.checkout:active {
  background-color: var(--checkout);
  color: var(--checkout-text-click);
}

.search:hover {
  background-color: var(--button-header-click);
  color: var(--checkout-text-click);
}

.search:focus {
  background-color: var(--white);
  color: var(--black);
}

.search::before {

  display: block;
  width: 20px;
  height: 20px;                                                 /*убрать размножение*/
  content: "";
  background-image: url("../img/icon-search.svg");
}

.check-in {
  background-color: var(--background-color-header);
  color: var(--black);

}

.registration {
/*
  grid-column: -1/-3;
  grid-row: 1/2;*/
}

.come {
/*  grid-column: -3/-5;
  grid-row: 1/2;*/
}

.check-in:hover {
  color: var(--red);
}

.check-in:active {
  color: var(--exit-picture);
}

.name {
  background-color: var(--background-color-header);
  color: var(--black);
}                                                                                     /*не работает*/

.name::before {
  display:block;
  width:20px;
  height:20px;                                                 /*убрать размножение*/
  content: "";
  background-image: url("../img/icon-user.svg");
}

.name::after {
  display:block;
  width:20px;
  height:20px;                                                 /*убрать размножение*/
  content: "";
  background-image: url("../img/icon-login.svg");
}

.home {
  display:block;
  width:20px;
  height:20px;                                                 /*убрать размножение*/
  content: "";
  background-image: url("../img/icon-home.svg");
}

.personal-area,
.my-orders {
  color: var(--navigation);  /*как поставить точку между ссылками*/                         /*не работает*/
}

.name:hover {} /*потемнение иконок(иконок нет пока)*/

.personal-area:hover,
 .my-orders:hover{
  color: var(--red);                                                                    /*не работает*/
}

.heading-filter {
font-Size: 13px;
Line-Height: 18px;
color: var(--black);
background-color: var(--filter-background);
text-transform: uppercase;
}

.button-show {
  font-Size: 13px;
  Line-Height: 18px;
  color: var(--black);
  background-color: var(--white);
  border: var(--page-product-list-border);
}

.filter-type {
  font-Size: 17px;
  Line Height: 30px;
  color: var(--black);
  text-transform: uppercase;
  }

.checkbox {
  font-Size: 15px;
  Line-Height: 19px;
  color: var(--black);
}

.checkbox:active {
  opacity: 0.4;
}

.radiopoint {
  font-Size: 15px;
  Line-Height: 19px;
  color: var(--black);
}

.radiopoint:active {
  opacity: 0.4;
}

.sorting-heading {
  color: var(--black);
  background-color: var(--white);
  Font-Size: 13px;                                                      /*не работает*/
  Line-Height: 18px;
  text-transform: uppercase;
}

.Personal-Area {
  text-decoration: underline;
}

.Personal-Area:active,
.name:active,
.My-orders:active {
 color: var(--exit-picture);
}


 h1 {
  Font-Style: italic;
  Font-Size: 16px;
  Line-Height: 23px;
  color: var(--red);
/*  grid-column: 1/5;
  grid-row: 1/3;*/
}

.phone {
  color: var(--red);
  border: 3px solid var(--white);
  font-size: 21px;
  line-height: 30px;
/*  grid-column: 5/9;
  grid-row: 1/2;   */              /*телефон выпал из рамки*/
}

.phone::before {
  display:block;
  width:20px;
  height:20px;                                                 /*убрать размножение*/
  content: "";
  background-image: url("../img/icon-phone.svg");
}

.section-navigation {
  grid-column: 2/3;
/*  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(12, 60px);
  grid-template-rows: 45px auto;
  gap: 20px;*/
}

.section-navigation p {
  Font-Size: 14px;
  Line-Height: 24px;
  color: var(--adress-text);
/*  grid-column: 5/10;
  grid-row: 2/3;*/
}

.check-in {
  color: var(--black);
  background-color: var(--white);
  font-size: 21px;                                                      /*не работает*/
  line-height: 21px;                                                      /*не работает*/
}

.come::before {
  display:block;
  width:20px;
  height:20px;                                                 /*убрать размножение*/
  content: "";
  background-image: url("../img/icon-login.svg");
}

.check-in:hover {
  color: var(--red);
}

.check-in:active {
  color: var(--exit-picture);
}

.main-navigation {
  background-color: var(--navigation);
  grid-column: 2/3;
/*  grid-row: 3/-1;
  display: grid;
  grid-template-columns: 130px 1fr 130px;*/
}

.navigation-item:hover {
    background-color: var(--navigation-focus);
}

.navigation-item:active {
    background-color: var(--navigation-click);
    opacity: 50%;
}


/*main*/

.container {
  grid-row: 2/3;
 display: grid;
 grid-template-rows: repeat(5, auto);
}

.slider-list {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;  /*не очень правильно*/
}

.slider-list a {
color: var(--white);
}

.product-row {
  grid-row: 2/3;
}

.producer-row {
  grid-row: 3/4;
}


.slider {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 130px 1fr 130px;
  color: var(--white);
  Size: 14px;
  line-height: 18px;
}

.main-slide {
  grid-column: 1/3;
  grid-row: 2/4;
}

.slider-piсture {
                                           /*кнопки, стрелки, надписи - гридить отдельно*/
background-color: var(--background-color-header);
}

.text-piсture-slider {
  /*z-index: 1;  */          /*как наложить текст на картинку?*/
}

.slider-piсture img {
  z-index: 2;             /*как наложить текст на картинку?*/
}

.slide-one {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: var(--slider-item-slid1);
  }

.slide-one div::after {
  display:block;
  width: 44px;
  height: 65px;
  content: "";
  background-image: url("../img/slider/icon-1.svg");
}

.slide-one h3::after {
  display:block;
  width: 70px;
  height: 70px;
  content: "";
  background-image: url("../img/catalog-new.svg");
}

.slide-two {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: var(--slider-item-slid2);
}

.slide-two::after {
  display:block;
  width: 75px;
  height: 61px;
  content: "";
  background-image: url("../img/slider/icon-2.svg");
}

.slide-three {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: var(--slider-item-slid3);
}

.slide-three div::after {
  display:block;
  width: 78px;
  height: 62px;
  content: "";
  background-image: url("../img/slider/icon-3.svg");
}

.slide-four {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: var(--slider-item-slid4);
}

.slide-four div::after {
  display:block;
  width: 59px;
  height: 72px;
  content: "";
  background-image: url("../img/slider/icon-4.svg");/
}

.slide-five {
  grid-column: 3/4;
  grid-row: 3/4;
  background-color: var(--slider-item-slid5);
}

.slide-five div::after {
  display:block;
  width: 78px;
  height: 63px;
  content: "";
  background-image: url("../img/slider/icon-5.svg");
}

.slider-arrow.left {
  display:block;
  width: 78px;
  height: 63px;                                          /*убрать размножение*/
  content: "";
  background-image: url("../img/slider/arrow.svg");
}

.slider-arrow.right {
  display:block;
  width: 78px;
  height: 63px;                                          /*убрать размножение*/
  content: "";
  background-image: url("../img/slider/arrow.svg");
  transform: rotate(180deg);
}

.new::after {
  display:block;
  width: 70px;
  height: 70px;
  content: "";
  background-image: url("../img/catalog-new.svg");
}

.slider-button {
  text-transform: uppercase;
  background-color: var(--slider-item-slid-button);
}

.slider-button:hover {
  background-color: var(--slider-item-slid-button-focus);
}

.slider-button:active {
  background-color: var(--slider-item-slid-button-click);
}

.slider-button-color  {
  text-transform: uppercase;
  color: var(--white);

}
.button-more:hover {
  color: var(--white);
  background-color: var(--red-button-focus);
}

.button-more:active {
  color: var(--white);
  background-color: var(--red-click);
}

.text-piсture-slider {
  color: var(--white);
  font-size: 36px;
  line-height: 36px;
  background-color: var(--slider-picture-head);
}

.popular-head {
  color: var(--popular-head-text);
  font-size: 30px;
  line-height: 30px;
  background-color: var(--popular-head-background);
  text-transform: uppercase;
  grid-row: 1/2;
  grid-column: 2/3;
  }

.popular {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 130px 1fr 130px;
}

.popular-producer-list {
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: 145px 145px;
  gap: 20px;
}

.products-list {
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  gap: 20px;
}

.products-item {
  border: var(--popular-producer-item-border);
}

.products-item p {
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.products-item del {
  color: var(--products-item-price-text-cross);
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

.products-item p:last-of-type {
  color: var(--white);
  font-size: 17px;
  line-height: 18px;
  background-color: var(--red);
  text-transform: uppercase;
}

.products-item:hover {}                                                        /*как сделать не понятно*/

.product-buy {
  color: var(--white);                                                       /*осталось черным*/
  font-size: 14px;
  line-height: 18px;
  background-color: var(--checkout);
  text-transform: uppercase;
  /*как делать тень хз*/
}

.product-buy:hover {
  background-color: var(--checkout-focus);
}

.product-buy:active {
  background-color: var(--services-item-button-buy);
}

.product-marker {
  color: var(--navigation);                                                          /*осталось черным*/
  font-size: 14px;
  line-height: 18px;
  background-color: var(--white);
  border: var(--product-marker-border);
  text-transform: uppercase;
}

.product-marker:hover {
  border: var(--product-marker-border-focus);
}

.product-marker:active {
    border: var(--product-marker-border-focus);
    opacity: 0.3;
}

.popular-producer-item {
  border: var(--popular-producer-item-border);
}

.popular-producer-item:active {
  opacity: 0.3;
}

.popular-producer-item:hover {
                                   /*как сделать не понятно*/
}

.company {
  grid-row: 6/7;
  display: grid;
  grid-template-columns: 130px 1fr 130px;
}

.company h2 {
  display: none;
}

.company-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.company-discription {
  grid-column: 1/2;
}

.contacts {
  grid-column: 2/3;
}

.write-us {
  color: var(--white);
  background-color: var(--red);
}

.services {
  grid-row: 5/6;
  background-color: var(--footer-text-color-nav);
  color: var(--black);
  font-size: 13px;
  line-height: 24px;
  display: grid;
  grid-template-columns: 130px 1fr 130px;

}

.services-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
}

.services-conteiner {
grid-row: 1/2;
}

.services-list-wrapper {
  grid-row: 2/3;
  display: grid;
  grid-column: auto 1fr;
}

.services-list {
  grid-column: 1/2;
}

.services-discription {
  grid-column: 2/3;
}

.services-list::after {
  display:block;
  width: 10px;
  height: 279px;                                                 /*убрать размножение*/
  content: "";
  background-image: url("../img/sirvis-shadow.svg");
  /*z-index: 2;*/
}

}
.services h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-item {
  background-color: var(--navigation-focus);
  color: var(--white);
}

.services-discription-item {
  background-color: var(--footer-text-color-nav);
  color: var(--adress-text);
  font-size: 21px;
  line-height: 30px;
  background-image: url("../img/servis-car.svg") no-repeat;
}

.services-item:hover {
    background-color: var(--navigation-focus);
}

.services-item:active {
    background-color: var(--white);
    color: var(--popular-head-text);
}

.services-discription-item h3 {
  font-size: 30px;
  line-height: 30px;
  color: var(--adress-text);
  text-transform: uppercase;
}

/*подвал*/

.main-footer {
background-color: var(--footer-background);
color: var(--Basic-background);
font-size: 18px;
line-height: 24px;
grid-row:  3/4;
display: grid;
grid-template-columns: 130px 1fr 130px;
}

.main-footer p{
color: var(--phone);
}

.footer-wrapper {
  display: grid;
  grid-template-rows: auto auto auto;
}

.footer-navigation {
  grid-row: 1/2;
}

.footer-adress {
  grid-row: 2/3;
}

.pagination-list {
  grid-row: 2/3;
}

.pagination-list a {
  color: var(--footer-text-color-pagination);
}

.footer-navigation a:hover,
 .pagination-list a:hover,
 .footer-footer a:hover {
  text-decoration: underline;
}

.footer-navigation a:active,
.pagination-list a:active {
  opacity: 0.5;
}

.footer-footer {                                              /*потерялся в гридах. */
  grid-row: 3/4;
  background-color: var(--navigation-focus);
  color: var(--white);
  font-size: 16px;
  line-height: 18px;
}

.footer-footer a {
  color: var(--footer-text-color-pagination);
}

.footer-footer a:active {
  color: var(--red-click);
}

.socials-item {
  background-color: var(--social-item);
}

.socials-item:hover
.socials-item:active {
  background-color: var(--red);
}

.fb {
  display:block;
  width: 26px;
  height: 15px;                                                 /*убрать размножение*/
  content: "";
  background-image: url("../img/icon-fb.svg");
}

.insta {
  display:block;
  width: 26px;
  height: 15px;                                                 /*убрать размножение*/
  content: "";
  background-image: url("../img/icon-insta.svg");
}

.vk {
  display:block;
  width: 26px;
  height: 15px;                                                 /*убрать размножение*/
  content: "";
  background-image: url("../img/icon-vk.svg");
}
